* {
    font-family: sans-serif;
    margin: 0;

}

/*
    header
 */

.fa-magnifying-glass {
    color: white;
    margin-top: 50;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 200;
}

a {
    color: aliceblue;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
}

a:hover {
    background-color: rgb(80, 80, 95);
}


.log {
    background-color: #009688;
}

.log:hover {
    background-color: rgb(7, 241, 132);
}

.parent-link {
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 62, 62);
    width: 110px;
    position: absolute;
    margin-left: 350px;
    visibility: hidden;

}

.drop:hover+.parent-link {
    visibility: visible;
    z-index: 200;
}

/* 
section 
*/

.main-img {
    width: 100%;
    height: 500px;
}

.learn {
    color: white;
    border: 1px solid red;
    background-color: black;
    width: 100px;
    position: relative;
    bottom: 70px;
    left: 20px;
    font-size: 20px;
}

.learn:hover {
    background-color: #009688;
}

.my-love,
p {
    text-align: center;
    width: 100%;

}

.descrip {
    font-size: 30px;
    margin-top: 5px;
}

.all-imgs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.avatar1,
.avatar2,
.avatar3,
.avatar4 {
    border-radius: 50%;

}

img+h3 {
    margin: 15px;
}

.gray {
    background-color: rgb(34, 33, 33);
    width: 100%;
    margin-top: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.our-work {
    color: white;

}

.our-work-h2 {
    margin-bottom: 10px 0 10px;
}

.customer1,
.customer2,
.customer3 {
    background-color: white;
    line-height: 30px;


}

.gray p {
    text-align: left;
}

.gray div {
    width: 24%;


}

.gray img {
    height: 250px;
    width: 100%;

}

/* 
    sectian pricing
 */

.pricing {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    height: 350px;
}

.pricing h1 {
    margin-bottom: 10px;
    width: fit-content;
    background-color: aqua;
    margin-left: 50%;
    font-size: 30px;
    border: 1px solid rgb(7, 228, 228);
    box-shadow: 5px 5px 25px rgb(27, 168, 168);

}

.pricing h1+p {
    font-size: 30px;
}

.basic {
    width: 30%;
    border: 1px solid rgb(114, 8, 17);
    margin-top: 40px;
}

.basic:hover {
    box-shadow: 5px 5px 25px rgb(27, 168, 168);
}

.basic h2 {
    background-color: rgb(8, 129, 73);
    color: white;
    padding: 16px 0;
}

.basic p {
    border: 1px solid gray;
    padding: 10px 0;
}

.sign-up {
    background-color: #009688;
    margin: 10px 0;
    border: 1px solid red;
    padding: 13px 30px;
}

.sign-up:hover {
    background-color: #08f285;
}

.parent-of-basic {
    display: flex;
    justify-content: space-around;
}

.fa-dollar-sign {
    font-size: 25px;
    margin-right: 5px;
}

.prace {
    font-size: 25px;
}

.form {
    background-color: #8080801a;
    margin-top: 200px;
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-us h1 {
    border-bottom: 7px solid teal;
    display: inline-block;
}

.contact-us {
    padding-left: 20px;
    line-height: 40px;
    text-align: left;
    width: 40%;
    height: 350px;
}

.contact-us p {
    text-align: left;
    font-size: 20px;
}

.real-form {
    background-color: white;
    width: 50%;
    height: 250px;
    box-shadow: 5px 5px 25px rgb(209, 198, 198);
    padding-left: 19px;
    padding-top: 20px;
    box-shadow: 5px 5px 25px rgb(97, 148, 148);
    position: relative;
}

.real-form label {
    font-size: 20px;
}

input {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 98%;
}

.send {
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 36px;
    width: 70px;
}

.send:hover {
    background-color: rgb(7, 241, 132);
}

.like {
    width: 25px;
    margin-top: 10px;
    margin-right: 5px;
}

/* map */
.map {
    width: 100%;
    height: 700px;
}

footer {
    background-color: black;
    color: white;
    height: 350px;
    margin-top: -3px;
}

.Follow-Us {
    position: relative;
    top: 20px;
    font-size: 25px;
    text-shadow: 5px 5px 10px #f5f8f8;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.links div {
    background-color: #009688;
    padding: 20px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

.links div:hover {
    background-color: white;
}

.wcs {
    margin-top: 15px;
    font-size: 20px;
}

span {
    text-decoration: underline;
}

.fa-arrow-up {
    position: relative;
    left: 98%;
    top: -20px;
}